nav.navbar {
  background-color: #ffffff !important;
}

.nav-link {
  font-weight: 700;
  color: #616161;
  transition: color 0.3s ease;
  &:hover {
    color: #6f42c1 !important; 
  }
}

.btn-link {
  text-decoration: none;
}

.navbar-brand-purple {
  color: #6f42c1 !important;
}